
@mixin text-shadow ($string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: $string;
}
@mixin box-shadow ($string) {
	-webkit-box-shadow: $string;
	-moz-box-shadow:    $string;
	box-shadow:         $string;
}

@mixin box-sizing ($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	box-sizing:         $type;
}

@mixin border-radius ($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	-ms-border-radius:     $radius;
    -o-border-radius:      $radius;
	border-radius:         $radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}


@mixin opacity ($opacity: 0.5) {
	-webkit-opacity: 	$opacity;
	-moz-opacity: 		$opacity;
	opacity: 		$opacity;
}


@mixin animation ($name, $duration: 300ms, $delay: 0, $ease: ease) {
	-webkit-animation: $name $duration $delay $ease;
	-moz-animation:    $name $duration $delay $ease;
	-ms-animation:     $name $duration $delay $ease;
}

@mixin transition ($transition) {
	-webkit-transition: $transition;  
	-moz-transition:    $transition;
	-ms-transition:     $transition; 
	-o-transition:      $transition;  
}
@mixin transform($string){
	-webkit-transform:  $string;
	-moz-transform: 	 $string;
	-ms-transform: 		 $string;
	-o-transform: 		 $string;
}

$color-primary: #e75d2a;
$text-color: #494d55;
$text-color-secondary: lighten($text-color, 10%);
$text-grey: lighten($text-color-secondary, 25%);
$light-grey: #c3c3c3;
$smoky-white: #f5f5f5;
$divider: #f3f3f3; 






@mixin text-shadow ($string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: $string;
}
@mixin box-shadow ($string) {
	-webkit-box-shadow: $string;
	-moz-box-shadow:    $string;
	box-shadow:         $string;
}

@mixin box-sizing ($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	box-sizing:         $type;
}

@mixin border-radius ($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	-ms-border-radius:     $radius;
    -o-border-radius:      $radius;
	border-radius:         $radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}


@mixin opacity ($opacity: 0.5) {
	-webkit-opacity: 	$opacity;
	-moz-opacity: 		$opacity;
	opacity: 		$opacity;
}


@mixin animation ($name, $duration: 300ms, $delay: 0, $ease: ease) {
	-webkit-animation: $name $duration $delay $ease;
	-moz-animation:    $name $duration $delay $ease;
	-ms-animation:     $name $duration $delay $ease;
}

@mixin transition ($transition) {
	-webkit-transition: $transition;  
	-moz-transition:    $transition;
	-ms-transition:     $transition; 
	-o-transition:      $transition;  
}
@mixin transform($string){
	-webkit-transform:  $string;
	-moz-transform: 	 $string;
	-ms-transform: 		 $string;
	-o-transform: 		 $string;
}






$color-primary: #40babd;
$text-color: #494d55;
$text-color-secondary: lighten($text-color, 10%);
$text-grey: lighten($text-color-secondary, 25%);
$light-grey: #c3c3c3;
$smoky-white: #f5f5f5;
$divider: #f3f3f3; 

$color-green: #75c181;
$color-blue: #58bbee;
$color-orange: #F8A13F;
$color-pink: #EA5395;
$color-purple: #8A40A7;
$color-yellow: #F2B542;




body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}

img{
  border-radius: 5px;;
}
.hero-section{
   
  background-color: #cccccc; 
  height: 500px; 
  position: relative;
    padding-bottom: 0;
    background-image: url("../images/burger-desk3.jpg");
    background-size: cover;
    background-position: center;
    color:#f2f2f2;
}

i{
  color:$color-primary;
}
nav {
  padding:0px 30px;
}
.nav-social{
  margin-right: 50px;
  i{
    margin-left: 20px;
  }
}
.navbar-brand  img{
  width:100px;
  height: 100px;
}
.nav-item{
  margin-left: 30px;
}
p {
	margin-bottom: 15px;
	line-height: 1.5;
}

a {
	color: darken($color-primary, 5%);
	@include transition (all 0.4s ease-in-out);
	&:hover {
		text-decoration: underline;
		color: darken($color-primary, 10%);
	}
	&:active {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}

.btn, a.btn {
	@include transition (all 0.4s ease-in-out);
	font-weight: 600;
	font-size: 14px;
	line-height: 1.5;
	.fa {
		margin-right: 5px;
	}
	&:focus {
	    @include box-shadow(none);
    }

}

.btn-cta, a.btn-cta {
    font-weight: bold;
    font-size: 16px;
    padding: 10px 30px;
}

.btn-primary {
	background: $color-primary;
	border: 1px solid $color-primary;
	color: #fff;
	&:hover, &:focus, &:active, &.active, &.hover {
		background: darken($color-primary, 5%);
		color: #fff;
		border: 1px solid darken($color-primary, 5%);
	}

}

.btn-inverse {
	background: rgba(0, 0, 0, 0.4);
	border: 1px solid transparent;
	color: #fff;
	&:hover, &:focus, &:active, &.active, &.hover {
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
		border: 1px solid transparent;
	}

}

/* ======= About Section ======= */
.about-section {
  padding-top: 90px;
  .section-title {
      margin: 0;
      margin-bottom: 15px;
      font-size: 36px;
      font-weight:300;
  }
  .intro {
      color: $text-grey;
      font-size: 16px;
      max-width: 760px;
      margin: 0 auto;
      margin-bottom: 60px;
  }
  
  .items-wrapper {
      margin-bottom: 60px;
      
      img{
        width: 250px;
        height: 250px;
      }
      .figure-holder {
          margin-bottom: 15px;
          vertical-align:bottom;
      }
      
      
      
      
      .item-inner {
          padding: 30px;
      }
      .item-title {
          color: $color-primary;
          font-size: 18px;
          font-weight: bold;
          margin:0;
          margin-bottom: 15px;
      }
      .item-desc {
          color: $text-color-secondary;
      }
  }
  
  
}


.testimonials {
  background: $color-primary;
}


.testimonials-inner {
  padding: 60px 30px;
  position: relative;
  max-width: 800px;
  
  
  .profile-holder {
      position: absolute;
      left: 30px;
      text-align: center;
  }
  
  .profile-image {
      display: inline-block;
      margin: 0 auto;
  }
  .quote {
      background: rgba(0, 0, 0, 0.2);
      color: #fff;
      margin-left: 130px;
      border-left: none;
      margin-bottom: 0;
      font-size: 14px;
      min-height: 100px;
      @include border-radius(4px);
      position: relative;
      padding:15px;
      &:before {
          position: absolute;
          left: -10px;
          top:30px;
          content:"";
          width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        border-right:10px solid rgba(0, 0, 0, 0.2); 
      }
  }
}


/* Portfolio Section
--------------------------------*/
#portfolio {
    background: #f7f7f7;
    padding: 80px 0;
  }
  #portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
  }
  #portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 12px 18px 14px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #666666;
    margin: 0 5px 10px 5px;
    transition: all ease-in-out 0.3s;
    background: white;
    border-radius: 4px;
  }
  #portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
    color: #fff;
    background: $color-primary;
  }
  #portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  #portfolio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
  }
  #portfolio .portfolio-item img {
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  #portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: -50px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: $color-primary;
    padding: 15px 20px;
  }
  #portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }
  #portfolio .portfolio-item .portfolio-info p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
  }
  #portfolio .portfolio-item .portfolio-info .preview-link, #portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 50px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: white;
    transition: ease-in-out 0.3s;
  }
  #portfolio .portfolio-item .portfolio-info .preview-link:hover, #portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #a4ebd4;
  }
  #portfolio .portfolio-item .portfolio-info .details-link {
    right: 15px;
  }
  #portfolio .portfolio-item:hover img {
    top: -30px;
  }
  #portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
  }
  
  

/* ======= Team Section ======= */
.team-section {
  padding-top: 30px;
  padding-bottom: 90px;
  background: $smoky-white;
  .section-title {
      margin: 0;
      margin-bottom: 15px;
      font-size: 36px;
      font-weight:300;
  }
  .intro {
      color: $text-grey;
      font-size: 16px;
      margin: 0 auto;
      margin-bottom: 60px;
  }
  .story {
      
      margin: 0 auto;
      margin-bottom: 60px;
     
  }
  
  .members-wrapper{
     
      margin: 0 auto;
      img{
        width:250px;
        height: 250px;
      }
  }
  
  .item-inner {
      padding: 30px;
      background: #fff;
      @include border-radius(8px);
      height: 100%;
  }
  .member-name {
      font-size: 18px;
      font-weight: 700;
      color: $color-primary;
  }
  .member-title {
      font-size: 16px;
      margin-top:0;
      margin-bottom: 15px;
      color: $text-color-secondary;
  }
  
  .member-desc {
      color: $text-color-secondary;
  }

}


// ------------reviews section--------------------//
.form-section {
  background-color:$color-primary;
}
.reviews-section {

	.item-inner {
		height: 100%;
		position: relative;
    background-color: #e7e7e7;
    img{
      width: 50px;
      height: 60px;
    }
	}
	
	.icon-holder {
		position: absolute;
		left: 50%;
		top: -25px;
		margin-left: -18px;
		display: inline-block;
		width: 46px;
		height:46px;
		background: lighten(#f2f2f2, 20%);
		color: #fff;
		text-align: center;
		@include border-radius(50%);
		padding-top: 6px;
	}
	.source-profile {
		width: 60px;
	}
	.source-info {
		font-size: 0.875rem;
	}
  .source-name{
    font-size: 18px;
    color:$color-primary;
  }
	.quote {
		font-style:italic;
		
	}
}


/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact .info {
    border-top: 3px solid #e75d2a;
    border-bottom: 3px solid #e75d2a;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    i {
        font-size: 20px;
        color: #e75d2a;
        float: left;
        width: 44px;
        height: 44px;
        background: #fdf1ec;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
      }
      h4 {
        padding: 0 0 0 60px;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #7a6960;
      }
      p {
        padding: 0 0 10px 60px;
        margin-bottom: 20px;
        font-size: 14px;
        color: #ab9d95;
      }
  }
  

  .contact .info .email p {
    padding-top: 5px;
  }
  .contact .info .social-links {
    padding-left: 60px;
  }
  .contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
  }
  .contact .info .social-links a:hover {
    background: #e75d2a;
    color: #fff;
  }
  .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #e75d2a;
    color: #fff;
  }
  .contact .php-email-form {
    width: 100%;
    border-top: 3px solid #e75d2a;
    border-bottom: 3px solid #e75d2a;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  .contact .php-email-form input {
    height: 44px;
  }
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  .contact .php-email-form button[type=submit] {
    background: #e75d2a;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  .contact .php-email-form button[type=submit]:hover {
    background: #db4b17;
  }
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  


/*======================================
	Footer CSS
========================================*/
.footer {
    position: relative;
    padding-bottom: 0;
    background-color: #e75d2a;
    margin-top:5rem;
    padding-top:2rem
  }
  ul li a {
    text-decoration:none;
  }
  .latest-news a {
    text-decoration: none;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer {
      padding-top: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .footer {
      padding-top: 20px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer .single-footer {
      margin-top: 40px;
    }
  }
  
  @media (max-width: 767px) {
    .footer .single-footer {
      margin-top: 40px;
      text-align: center;
    }
  }
  
  .footer .single-footer.f-about {
    padding-right: 30px;
  }
  
  @media (max-width: 767px) {
    .footer .single-footer.f-about {
      padding: 0;
    }
  }
  
  .footer .single-footer.f-about .logo {
    margin-bottom: 20px;
  }
  
  .footer .single-footer.f-about .logo img {
    width: 200px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer .single-footer.f-about .logo img {
      width: 190px;
    }
  }
  
  @media (max-width: 767px) {
    .footer .single-footer.f-about .logo img {
      width: 180px;
    }
  }
  
  .footer .single-footer.f-about p {
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
    line-height: 24px;
  }
  
  .footer .single-footer.f-about .call {
    color: #fff;
    font-weight: 500;
    margin-top: 15px;
  }
  
  .footer .single-footer.f-about .call i {
    font-size: 18px;
    display: inline-block;
    margin-right: 5px;
  }
  
  .footer .single-footer.f-about .payments {
    margin-top: 30px;
  }
  
  .footer .single-footer.f-about .payments img {
    width: 70%;
  }
  
  .footer .single-footer.f-about .social-title {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
  }
  
  .footer .single-footer.f-about .social {
    margin-top: 30px;
  }
  
  .footer .single-footer.f-about .social li {
    display: inline-block;
    margin-right: 18px;
  }
  
  .footer .single-footer.f-about .social li:last-child {
    margin: 0;
  }
  
  .footer .single-footer.f-about .social li a {
    color: #fff;
    font-size: 16px;
  }
  
  .footer .single-footer.f-about .social li a:hover {
    color: #0069ff;
  }
  
  .footer .single-footer.f-about .copyright-text {
    color: #fff;
    font-size: 14px;
    margin-top: 30px;
  }
  
  .footer .single-footer.f-about .copyright-text span {
    display: block;
  }
  
  @media (max-width: 767px) {
    .footer .single-footer.f-about .copyright-text {
      margin-top: 20px;
    }
  }
  
  .footer .single-footer.f-about .copyright-text a {
    color: #fff;
    text-decoration: underline;
  }
  
  .footer .single-footer.f-link li {
    display: block;
    margin-bottom: 15px;
  }
  
  .footer .single-footer.f-link li:last-child {
    margin: 0;
  }
  
  .footer .single-footer.f-link li a {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
  }
  
  .footer .single-footer.f-link li a:hover {
    color: #0069ff;
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
    .footer .single-footer.latest-news {
      padding-left: 30px;
    }
  }
  
  .footer .single-footer.latest-news .single-head {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.089);
    border-radius: 7px;
  }
  
  .footer .single-footer.latest-news .single-news {
    margin-bottom: 20px;
  }
  
  .footer .single-footer.latest-news .single-news:last-child {
    margin: 0;
  }
  
  .footer .single-footer.latest-news .single-news .date {
    display: block;
    margin-bottom: 10px;
  }
  
  .footer .single-footer.latest-news .single-news .date a {
    font-size: 12px;
    color: #fff;
  }
  
  .footer .single-footer.latest-news .single-news .date a:hover {
    color: #0069ff;
  }
  
  .footer .single-footer.latest-news .single-news .post-title {
    line-height: 22px;
  }
  
  .footer .single-footer.latest-news .single-news .post-title a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
  }
  
  .footer .single-footer.latest-news .single-news .post-title a:hover {
    color: #0069ff;
  }
  
  .footer .single-footer h3 {
    font-size: 20px;
    font-weight: 600;
    display: block;
    margin-bottom: 35px;
    color: #fff;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer .single-footer h3 {
      margin-bottom: 25px;
    }
  }
  
  @media (max-width: 767px) {
    .footer .single-footer h3 {
      margin-bottom: 25px;
    }
  }
  
  .footer .footer-bottom-area .inner-content {
    border-top: 1px solid rgba(238, 238, 238, 0.288);
    padding: 35px 0;
    margin-top: 80px;
  }
  
  @media (max-width: 767px) {
    .footer .footer-bottom-area .inner-content {
      margin-top: 50px;
      text-align: center;
    }
  }
  
  .footer .footer-bottom-area p {
    color: #fff;
    font-size: 15px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .footer .footer-bottom-area p {
      line-height: 24px;
    }
  }
  
  @media (max-width: 767px) {
    .footer .footer-bottom-area p {
      margin-bottom: 20px;
    }
  }
  
  .footer .footer-bottom-area p a {
    text-decoration: underline;
    color: #fff;
  }
  
  .footer .footer-bottom-area p a:hover {
    color: #0069ff;
  }
  
